html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q,
blockquote {
  quotes: none;
}

q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

@font-face {
  font-family: PFDTCP;
  src: url(../fonts/PFDinTextCondPro-Regular.ttf);
}

@font-face {
  font-family: PFDTCPL;
  src: url(../fonts/pfdintextcondpro-light.ttf);
}

@font-face {
  font-family: CalibriI;
  src: url(../fonts/calibrii.ttf);
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: PFDTCPL, serif;
}

body {
  background: url("../img/bg_pattern.jpg") center 0 repeat;
}

.header {
  position: relative;
  display: block;
  height: 79px;
  background: url("../img/header_pattern.jpg") center 0 repeat;
  border-top: 14px solid #000000;
  border-bottom: 14px solid #000000;
}

.header__wrapper {
  position: relative;
  display: block;
  height: 92px;
  width: 943px;
  margin: 0 auto;
  background: url("../img/bg_header.jpg") right 0 no-repeat;
}

.header__wrapper:before,
.header__wrapper:after {
  position: absolute;
  width: 31px;
  height: 92px;
  background: #000000;
  opacity: 0.18;
  content: '';
}

.header__wrapper:before {
  top: 0;
  left: -31px;
}

.header__wrapper:after {
  top: 0;
  right: -31px;
}

.header__logo {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 404px;
  height: 106px;
  background: url("../img/logo_header.png") 0 0 no-repeat;
  margin: -14px 0 0 0;
}

.header__switch {
  position: absolute;
  display: block;
  top: 36px;
  right: 0;
}

.header__lang {
  position: relative;
  display: inline-block;
  border: 2px solid #c5683d;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-right: 7px;
  text-decoration: none;
  padding: 5px 9px;
  font-family: PFDTCPL, serif;
  font-size: 22px;
  color: #e1b790;
}

.header__lang:hover,
.header__lang.active {
  background: #ff4a12;
  border-color: #ff4a12;
  color: #ffffff;
}

.footer {
  position: relative;
  display: block;
  height: 78px;
  border-bottom: 14px solid #000000;
  background: url("../img/blue_pattern.jpg") center 0 repeat;
}

.footer__wrapper {
  position: relative;
  display: block;
  width: 943px;
  height: 78px;
  margin: 0 auto;
  background: url("../img/bg_footer.jpg") 0 0 no-repeat;
}

.footer__wrapper:before,
.footer__wrapper:after {
  position: absolute;
  width: 31px;
  height: 78px;
  background: #000000;
  opacity: 0.18;
  content: '';
}

.footer__wrapper:before {
  top: 0;
  left: -31px;
}

.footer__wrapper:after {
  top: 0;
  right: -31px;
}

.footer__text {
  font-family: CalibriI, serif;
  font-size: 18px;
  color: #dbdcca;
  text-align: center;
  padding: 15px 0;
}

.footer__logo {
  position: absolute;
  display: block;
  top: 13px;
  left: 13px;
  width: 164px;
  height: 42px;
  background: url("../img/logo_footer.png") 0 0 no-repeat;
}

.footer__unigine {
  position: absolute;
  display: block;
  top: 13px;
  right: 13px;
  width: 169px;
  height: 34px;
  background: url("../img/logo_unigine.png") 0 0 no-repeat;
}

.poster {
  position: relative;
  display: block;
  background: url("../img/blue_pattern.jpg") center 0 repeat-x;
  height: 360px;
}

.poster__wrapper {
  position: relative;
  display: block;
  width: 943px;
  min-height: 252px;
  margin: 0 auto;
  background: url("../img/poster_main.jpg") 0 0 no-repeat;
}

.poster__wrapper:before,
.poster__wrapper:after {
  position: absolute;
  width: 31px;
  height: 252px;
  background: #000000;
  opacity: 0.18;
  content: '';
}

.poster__wrapper:before {
  top: 0;
  left: -31px;
}

.poster__wrapper:after {
  top: 0;
  right: -31px;
}

.poster__steam {
  position: absolute;
  display: block;
  top: 225px;
  left: 56px;
  width: 409px;
  height: 134px;
  background: url("../img/bg_steam.png") 0 0 no-repeat;
  text-decoration: none;
  z-index: 2;
}

.poster__steam:hover {
  background-position: 0 -134px;
}

.poster__date {
  position: absolute;
  display: block;
  font-family: PFDTCP, serif;
  font-size: 44px;
  line-height: 48px;
  color: #ffffff;
  text-transform: uppercase;
  -webkit-transform: rotate(-4deg);
  -ms-transform: rotate(-4deg);
  -o-transform: rotate(-4deg);
  transform: rotate(-4deg);
  margin: 52px 0 20px 20px;
}

.poster__date_lite {
  display: block;
  font-family: PFDTCPL, serif;
  font-size: 26px;
  line-height: 26px;
  margin-top: -12px;
}

.poster__date_middle {
  font-size: 40px;
}

.poster__date_ls {
  letter-spacing: -1px;
}

.poster__info {
  position: absolute;
  display: block;
  background: #000000;
  width: 100%;
  height: 60px;
  -webkit-border-bottom-left-radius: 15px;
  border-bottom-left-radius: 15px;
  -webkit-border-bottom-right-radius: 15px;
  border-bottom-right-radius: 15px;
  top: 252px;
  z-index: 1;
}

.poster__info:before,
.poster__info:after {
  position: absolute;
  display: block;
  content: '';
  width: 38px;
  height: 58px;
  top: 0px;
}

.poster__info:before {
  left: -31px;
  background: url("../img/poster_left.png") 0 0 no-repeat;
}

.poster__info:after {
  right: -31px;
  background: url("../img/poster_right.png") 0 0 no-repeat;
}

.poster__social {
  position: relative;
  float: right;
  margin: 7px 7px 0 0;
}

.poster__more {
  position: relative;
  float: left;
  font-family: PFDTCPL, serif;
  font-size: 28px;
  line-height: 46px;
  color: #dadbd1;
  padding-right: 7px;
}

.poster__link {
  position: relative;
  float: left;
  width: 45px;
  height: 45px;
  margin-left: 7px;
}

.poster__link:hover {
  background-position: 0 -45px;
}

.poster__fb {
  background: url("../img/mi_fb.png") 0 0 no-repeat;
}

.poster__tw {
  background: url("../img/mi_tw.png") 0 0 no-repeat;
}

.poster__vk {
  background: url("../img/mi_vk.png") 0 0 no-repeat;
}

.poster__blog {
  background: url("../img/mi_blog.png") 0 0 no-repeat;
}

.poster__yt {
  background: url("../img/mi_youtube.png") 0 0 no-repeat;
}

.content {
  position: relative;
  display: block;
}

.content__wrapper {
  position: relative;
  display: block;
  width: 943px;
  margin: 0 auto;
  padding: 0 0 73px 0;
}

.content__title {
  position: relative;
  display: block;
  background: #638e9e;
  font-family: PFDTCPL, serif;
  font-size: 30px;
  line-height: 44px;
  color: #ffffff;
  padding: 0 14px;
  margin-top: 30px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.content__description {
  font-family: CalibriI, serif;
  font-size: 18px;
  color: #1b1b1a;
  padding: 15px 14px;
}

.content__link {
  font-family: CalibriI, serif;
  color: #0059b3;
  text-decoration: none;
}

.content__download {
  position: relative;
  display: block;
  width: 143px;
  height: 59px;
  background: url("../img/btn_download.png") 0 0 no-repeat;
  font-family: PFDTCPL, serif;
  font-size: 30px;
  line-height: 64px;
  color: #ffffff;
  text-decoration: none;
  padding-left: 90px;
  margin-left: 13px;
}

.content__download:hover {
  background-position: 0 -59px;
}

.content__container {
  position: relative;
  display: block;
  padding: 0 14px;
}

.content__pic {
  position: relative;
  display: inline-block;
  width: 228px;
  margin-right: 8px;
  vertical-align: top;
}

.content__pic_link {
  position: relative;
  display: block;
  width: 228px;
  height: 126px;
  margin-bottom: 10px;
}

.content__pic_link:hover > .content__pic_blue {
  display: block;
}

.content__pic_blue {
  position: absolute;
  display: none;
  background: url("../img/hover_blue.png") -2px -2px no-repeat;
  width: 228px;
  height: 126px;
}

.content__video {
  position: relative;
  display: inline-block;
  width: 674px;
  background: #f0f0f0;
}

.share {
  position: relative;
}

.share__wrapper {
  position: relative;
  display: block;
  width: 943px;
  margin: 0 auto;
  background: #000000;
  height: 60px;
  -webkit-border-top-left-radius: 15px;
  border-top-left-radius: 15px;
  -webkit-border-top-right-radius: 15px;
  border-top-right-radius: 15px;
}

.share__wrapper:before,
.share__wrapper:after {
  position: absolute;
  display: block;
  content: '';
  width: 38px;
  height: 58px;
}

.share__wrapper:before {
  top: 2px;
  left: -31px;
  background: url("../img/share_left.png") 0 0 no-repeat;
}

.share__wrapper:after {
  top: 2px;
  right: -31px;
  background: url("../img/share_right.png") 0 0 no-repeat;
}

.share__content {
  font-family: PFDTCPL, serif;
  font-size: 28px;
  line-height: 32px;
  color: #dadbd1;
  text-align: center;
  padding-top: 14px;
}

.share__text {
  display: inline-block;
  vertical-align: top;
  margin: 2px 10px 0 0;
}