@font-face {
  font-family: PFDTCP;
  src: url(../fonts/PFDinTextCondPro-Regular.ttf);
}
@font-face {
  font-family: PFDTCPL;
  src: url(../fonts/pfdintextcondpro-light.ttf);
}
@font-face {
  font-family: CalibriI;
  src: url(../fonts/calibrii.ttf);
}
@font-face {
  font-family: CalibriIB;
  src: url(../fonts/calibriz.ttf);
}

html,
body {
	width: 100%;
	height: 100%;
}

body {
	background: url('../img/bg_pattern.jpg') center 0 repeat;
}