.content {
	position: relative;
	display: block;
	&__wrapper {
		position: relative;
		display: block;
		width: 943px;
		margin: 0 auto;
		padding: 0 0 73px 0;
	}
	&__title {
		position: relative;
		display: block;
		background: #638e9e;
		font-family: PFDTCPL, serif;
		font-size: 30px;
		line-height: 44px;
		color: #ffffff;
		padding: 0 14px;
		margin-top: 30px;
		border-radius: 5px;
	}
	&__description {
		font-family: CalibriI, serif;
		font-size: 18px;
		color: #1b1b1a;
		padding: 15px 14px;
	}
	&__link {
		font-family: CalibriI, serif;
		color: #0059b3;
		text-decoration: none;
	}
	&__download {
		position: relative;
		display: block;
		width: 143px;
		height: 59px;
		background: url('../img/btn_download.png') 0 0 no-repeat;
		font-family: PFDTCPL, serif;
		font-size: 30px;
		line-height: 64px;
		color: #ffffff;
		text-decoration: none;
		padding-left: 90px;
		margin-left: 13px;

		&:hover {
			background-position: 0 -59px;
		}
	}
	&__container {
		position: relative;
		display: block;
		padding: 0 14px;
	}
	&__pic {
		position: relative;
		display: inline-block;
		width: 228px;
		margin-right: 8px;
		vertical-align: top;
		&_link {
			position: relative;
			display: block;
			width: 228px;
			height: 126px;
			margin-bottom: 10px;
			&:hover > .content__pic_blue {
				display: block;		
			}
		}
		&_blue {
			position: absolute;
			display: none;
			background: url('../img/hover_blue.png') -2px -2px no-repeat;
			width: 228px;
			height: 126px;
		}
	}
	&__video {
		position: relative;
		display: inline-block;
		width: 674px;
		background: #f0f0f0;
	}
}